* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #100f0f;
    font-family: 'Trebuchet MS', sans-serif, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 600px;
    background: #353046;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(98, 112, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff7700;
}

.inserirTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    height: 100px;
}

.inserirTexto textarea::placeholder, .saidaTexto textarea::placeholder {
    color: #6a6a6a;
}

#texto {
    border: none;
    border-radius: 10px;
    color: #100f0f;
    box-shadow: 0px 10px 25px #0000007a;
    outline: none;
    resize: none;
}

.optionCripto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    text-align: center;
    box-shadow: 0px 10px 25px #0000007a;
}

/* removendo borda do input quando ativado */

.optionCripto:focus {
    outline: none;
}

.incremento {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.incremento input {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 25px #0000007a;
}

.incremento label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* removendo borda do input quando ativado */

.incremento input:focus {
    outline: none;
}

.radioButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

#encode, #decode {
    margin: 5px;
}

.opcao label, input {
    color: #ff7700;
}

.saidaTexto {
    width: 280px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saidaTexto label {
    margin-bottom: 10px;
    color: #ff4400;
    font-weight: bold;
}
  
.saidaTexto input, textarea {
    border: none;
    border-radius: 10px;
    padding: 20px;
    color: #100f0f;
    box-shadow: 0px 10px 25px #0000007a;
    outline: none;
    resize: none;
}

.btn {
    display: flex;
    justify-content: center;
}

#btn {
    width: 150px;
    padding: 10px 0px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #eb1958;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 10px 25px #0000007a;
    background: linear-gradient(90deg, #ff4400, #dada04);
    background-clip: text; 
}

#btn:hover {
   box-shadow: 0px 0px 5px #ff4400;
}